<div>GET to http://localhost:8080/api/v1/simulacoes</div>


<h4>Headers</h4>
<div>
        <div>Accept: */*</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X GET &#39;http://localhost:8080/api/v1/simulacoes&#39; -H &#39;Accept: */*&#39;
</div>
