<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    [
    {
        &quot;id&quot;: 11,
        &quot;nome&quot;: &quot;Mark&quot;,
        &quot;cpf&quot;: &quot;57149543013&quot;,
        &quot;email&quot;: &quot;lakendra.cormier@yahoo.com&quot;,
        &quot;valor&quot;: 11000.00,
        &quot;parcelas&quot;: 6,
        &quot;seguro&quot;: false
    },
    {
        &quot;id&quot;: 12,
        &quot;nome&quot;: &quot;Deltrano&quot;,
        &quot;cpf&quot;: &quot;17822386034&quot;,
        &quot;email&quot;: &quot;deltrano@gmail.com&quot;,
        &quot;valor&quot;: 20000.00,
        &quot;parcelas&quot;: 5,
        &quot;seguro&quot;: false
    },
    {
        &quot;id&quot;: 14,
        &quot;nome&quot;: &quot;Florencia&quot;,
        &quot;cpf&quot;: &quot;9999999999&quot;,
        &quot;email&quot;: &quot;ivory.roob@yahoo.com&quot;,
        &quot;valor&quot;: 33470.65,
        &quot;parcelas&quot;: 9,
        &quot;seguro&quot;: false
    },
    {
        &quot;id&quot;: 16,
        &quot;nome&quot;: &quot;Danita&quot;,
        &quot;cpf&quot;: &quot;78755137236&quot;,
        &quot;email&quot;: &quot;zachariah.hyatt@hotmail.com&quot;,
        &quot;valor&quot;: 13157.71,
        &quot;parcelas&quot;: 49,
        &quot;seguro&quot;: true
    },
    {
        &quot;id&quot;: 19,
        &quot;nome&quot;: &quot;Leslie&quot;,
        &quot;cpf&quot;: &quot;29436504454&quot;,
        &quot;email&quot;: &quot;dorian.wyman@yahoo.com&quot;,
        &quot;valor&quot;: 30566.36,
        &quot;parcelas&quot;: 23,
        &quot;seguro&quot;: true
    },
    {
        &quot;id&quot;: 21,
        &quot;nome&quot;: &quot;Simon&quot;,
        &quot;cpf&quot;: &quot;88147987294&quot;,
        &quot;email&quot;: &quot;hong.metz@gmail.com&quot;,
        &quot;valor&quot;: 999.00,
        &quot;parcelas&quot;: 33,
        &quot;seguro&quot;: true
    }
]
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Transfer-Encoding: chunked</div>
        <div>Date: Fri, 30 Jul 2021 23:41:29 GMT</div>
        <div>Content-Type: application/json;charset=UTF-8</div>
</div>


